{% extends 'base.html' %}
{% block content %}

<center>
<br/><br/>
<div class="card border-warning mb-3" style="max-width: 26rem;">
    <div class="card-header">Bitcoin</div>
    <div class="card-body">
      <p class="card-text">bc1qu3wdhv92ps835dq5fn4pktxqvgwsscr8weghhg</p>
    </div>
<br/><br/>
</center>
<br/><br/>

<center>
    <div class="card border-secondary mb-3" style="max-width: 26rem;">
        <div class="card-header">Ethereum</div>
        <div class="card-body">
          <p class="card-text">0x883eA0Fc2738e6E5E714A2f5E70560ae7B4002eD</p>
        </div>
</center>
<br/><br/>

<center>
<div class="card border-secondary mb-3" style="max-width: 26rem;">
    <div class="card-header">DOGE</div>
    <div class="card-body">
      <p class="card-text">DFHGt7QCVRo8acrVzBBsULsh2t7Njh5B5Y</p>
    </div>
</center>

{% endblock %}