{% extends 'base.html' %}
{% block content %}

<h1>Welcome to Domain information</h1>
<form method="POST">
    <div class="form-floating mb-3"></div>
{% if Domain %}
    <p>Domain: {{ Domain }}</p>

{% else %}

    {{ form.hidden_tag() }}
    {{ form.Domain.label(
        class="form-label"
    )
     }}
    {{ form.Domain(
        class="form-control"
    ) }}
    </div>
    <br/>

    <center>
    {{ form.Submit(
        class="btn btn-secondary"
    ) }}
    </center>
</form>

{% endif %}

{% endblock %}