{% extends 'base.html' %}
{% block content %}

<center><h1>WTF information</h1></center>
<form method="POST">
    <div class="form-floating mb-3"></div>
{% if Domain %}
    {% include 'results.html' %}

{% else %}

    {{ form.hidden_tag() }}
    {{ form.Domain.label(
        class="form-label"
    )
     }}
    {{ form.Domain(
        class="form-control"
    ) }}
    </div>
    <br/>

    <center>
    {{ form.Submit(
        class="btn btn-secondary"
    ) }}
    </center>
</form>

{% endif %}

{% endblock %}