<br/><br/><br/><br/>

<div class="card" style="width: 40rem;">
    <div class="card-body">
      <h5 class="card-title">IP address</h5>
      <h6 class="card-subtitle mb-2 text-muted">finde ip address with api</h6>
      <p class="card-text">use this link:</p>
      <p class ="text-muted">https://wtfdomain.info/api/ip/"domain_name"</p>
      <p class="card-text">example:</p>
      <p class="text-muted">curl https://wtfdomain.info/api/ip/google.com</p>
      <p>returns:</p>
      <p>{
        "IP": "142.250.180.46"
      }
      </p>
    </div>
  </div>