{% extends 'base.html' %}
{% block content %}

<center><h1>Port scanner</h1></center>
<form method="POST">
    <div class="form-floating mb-3"></div>
{% if Domain %}
    
    <table class="table table-dark table-striped">
        <thead>
          <tr>
        {% for x in ports[ip_addr]["ports"] %}
            <th scope="col">{{ x["portid"] }}</th>
        {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr>
        {% for x in ports[ip_addr]["ports"] %}
            <td>{{ x["state"] }}</td>
        {% endfor %}
          </tr>
        </tbody>
      </table>

{% else %}

    {{ form.hidden_tag() }}
    {{ form.Domain.label(
        class="form-label"
    )
     }}
    {{ form.Domain(
        class="form-control"
    ) }}
    <br/>
    
    <br/>

    <center>
    {{ form.Submit(
        class="btn btn-secondary"
    ) }}
    </center>
</form>

{% endif %}

{% endblock %}